<div class="container">
  <footer class="footer">
    <small>Copyright &copy; <%= link_to 'Alpha Blog', "#" %> by <%= link_to 'Ehbraheem', 'https://www.facebook.com/ehbraheem' %> </small>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>

      </ul>
    </nav>
  </footer>
</div>